* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    margin: 50px;
    padding: 50px;
    background: #14BDAC;
    border-radius: 25px;

}

.gameEnd-popup {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top:300px;
    width: 500px;
    height: 500px;
    background: rgba(20, 189, 172, 0.863);
    border-radius: 25px;
}

.win-msg {
    font-size: 30px;
}

.reset {
    font-size: 20px;
    cursor: pointer;
}

.reset:hover {
    color: #F2EBD3
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



.title {
    text-align: center;
    color: #545454;
}

.title span {
    color: #F2EBD3
}

.status-action {
    display:flex;
    justify-content: space-around;
    margin-top: 25px;
    font-size: 25px
}

.win-msg span {
    color: #F2EBD3;
}

.status {
    
}
.status span {
    color: #F2EBD3;
}

.game-grid {
    background: #0DA192;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-top: 50px
}

.game-cell {
    height: 200px;
    width: 200px;
    background: #14BDAC;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x::before {
    content: '×';
    font-size: 200px;
}

.o::before{
    content: '○';
    font-size: 200px;
    color: #F2EBD3;
}